name: CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-18.04

    strategy:
      matrix:
        python: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        django: ["3.2", "4.0", "4.1"]
        exclude:
          - python: "3.6"
            django: "4.0"
          - python: "3.7"
            django: "4.0"
          - python: "3.6"
            django: "4.1"
          - python: "3.7"
            django: "4.1"

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install Django
      run: pip install -U django==${{ matrix.django }}
    - name: Run tests
      run: ./manage.py test
    - name: Check install
      run: pip install .
