name: CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-18.04

    strategy:
      matrix:
        python: [3.6, 3.7, 3.8, 3.9]
        django: [2.2, 3.0, 3.1, 3.2]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install Django
      run: pip install -U django==${{ matrix.django }}
    - name: Run tests
      run: ./manage.py test
    - name: Check install
      run: pip install .
